@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

*{
  font-family: 'Open Sans', sans-serif;
}

.App{
  display :flex;
  text-align: center;
  justify-items: center;
  align-items: center;
  flex-direction: column;
}

.Menu,
.Quiz ,
.EndScreen{
  width: 500px;
  height: 500px;
  border-radius: 10px;
  background-color: lightseagreen;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Menu button ,
.Quiz button ,
.EndScreen button{
  /* width: 300px;
  height:50px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor:pointer; */
  width: 300px;
  height: 50px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  
}

.Quiz button:focus ,
.Menu button:focus {
  background-color: gray;
}

.Menu , 
.Quiz,
.EndScreen {
  color: white;
} 

.EndScreen .score{
  color: black;
}

.options {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction:column;
  align-items: center;
}

